<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <a href="http://www.uzh.ch">
        <img src="assets/images/uzh_logo.png" style="float: left">
      </a>
    </div>
    <div class="col-xs-8">
      <p class="text-center">probr |  <a href="http://www.csg.uzh.ch">Communication Systems Group</a> at the <a href="http://www.uzh.ch">University of Zurich</a>, Switzerland</p>
    </div>
    <div class="col-xs-2">
      <a href="http://www.csg.uzh.ch">
        <img src="assets/images/csg_logo.png" style="float: right">
      </a>
    </div>
  </div>
</div>
