<navbar></navbar>

<div class="container content">

    <h1>Probr-Analysis: Installation</h1>

    <div class="row">
        <div class="col-xs-6 install-block">
            <a ng-click="installation = 'docker'">
                <i class="icon-install icon-docker" ng-class="{ 'icon-active': installation === 'docker' }"></i>
            </a>
        </div>
        <div class="col-xs-6 install-block" ng-click="installation == 'python'">
            <a ng-click="installation = 'nodejs'">
                <i class="icon-install icon-nodejs" ng-class="{ 'icon-active': installation === 'nodejs' }"></i>
            </a>
        </div>
    </div>

    <div class="row" ng-show="installation ==='docker'">
        <marked>
            TODO
        </marked>
    </div>

    <div class="row" ng-show="installation ==='nodejs'">
        <marked>
          ### Technology

          To build and run the application you will need:

          * [NodeJS version 0.10](https://nodejs.org/en/)
          * [NPM](https://www.npmjs.com/)
          * [Bower](http://bower.io/)
          * [MongoDB](https://www.mongodb.org/)
          * [Redis](http://redis.io/)


          ## Getting started
          Make sure probr-core runs and collects data.


          Make sure your mongo deamon runs:

          ```
          mongod &
          ```

          Also, start your redis server:

          ```
          redis-server &
          ```

          After cloning the repo and going into the `probr-analysis` directory:

          ```
          npm install
          ```

          After the installation of the npm dependencies has finished, install the bower dependencies:

          ```
          bower install
          ```

          These steps will also install [Grunt](http://gruntjs.com/). Our project comes with preconfigured grunt tasks, so you can run:

          ```
          grunt build
          ```

          To start the application, run:

          ```
          grunt serve
          ```

          The application should now be reachable under [http://localhost:9000](http://localhost:9000).
        </marked>
    </div>
</div>

<footer></footer>
