<navbar></navbar>

<div class="container content">

    <h1>Probr-Core: Installation</h1>

    <div class="row">
        <div class="col-xs-6 install-block">
            <a ng-click="installation = 'docker'">
                <i class="icon-install icon-docker" ng-class="{ 'icon-active': installation === 'docker' }"></i>
            </a>
        </div>
        <div class="col-xs-6 install-block" ng-click="installation == 'python'">
            <a ng-click="installation = 'python'">
                <i class="icon-install icon-python" ng-class="{ 'icon-active': installation === 'python' }"></i>
            </a>
        </div>
    </div>

    <div class="row" ng-show="installation ==='docker'">
        <h2>Requirements</h2>

        <ul>
            <li><a href="http://docker.com/" target="_blank">Docker</a></li>
            <li><a href="https://docs.docker.com/compose/" target="_blank">Docker-Compose</a></li>
        </ul>

        <h2>Installation</h2>

        <p>Clone probr-core and head into its directory. Now let docker-compose start your probr-core instance:</p>

        <pre><code>docker-compose up -d</code></pre>

        <p>This will setup a functioning probr-core installation, as well as MongoDB and InfluxDB and its corresponding handlers.</p>

        <p>In order to have a login for probr-core, you have to set-up a superuser for the application:</p>

        <pre><code>docker exec -ti probrcore_web_1 python manage.py createsuperuser</code></pre>

        <p> Now you can log in to the probr-core web application and manage your devices or start sniffing.</p>

    </div>

    <div class="row" ng-show="installation ==='python'">

        <p>The frameworks, languages, tools and technologies used and required in the probr-core project are:</p>

        <ul>
            <li>Python 2.7</li>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="http://bower.io/">Bower</a></li>
            <li><a href="https://pip.pypa.io/en/latest/installing.html">PIP</a></li>
        </ul>

        <h3><a id="user-content-devices" class="anchor" href="#devices" aria-hidden="true"><span class="octicon octicon-link"></span></a>Devices</h3>

        <p>The devices used for sniffing WiFi packets must fulfill the following requirements:</p>

        <ul>
            <li>*NIX operating system or simliar (Debian, Ubuntu, OpenWRT, Mac OS X, Raspbian etc.)</li>
            <li>wget installed</li>
            <li>tcpdump installed</li>
            <li>internet access</li>
            <li>wireless interface with monitor mode capabilities</li>
        </ul>

        <h2><a id="user-content-installation" class="anchor" href="#installation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Installation</h2>

        <p>We highly recommended to use <a href="https://virtualenv.pypa.io/en/latest/">Virtualenv</a> to manage the python environment for probr-core.</p>

        <p>After cloning the project, create a virtual environment for probr outside the probr-core directory:</p>

        <pre><code>virtualenv .env_probr</code></pre>

        <p>Activate the virtual python environment:</p>

        <pre><code>source .env_probr/bin/activate</code></pre>

        <p>Go into the
        <pre><code>probr-core</code></pre>
        directory.Now install the python dependencies of the project:</p>

        <pre><code>pip install -r requirements.txt</code></pre>

        <p>Now, install the frontend and web dependencies using bower:</p>

        <pre><code>bower install</code></pre>

        <p>You're pretty much set to start probr-core at this moment. What is left to do is:</p>

        <p>Create the DB tables:</p>

        <pre><code>python manage.py migrate</code></pre>

        <p>Create an admin user for the Django webproject:</p>

        <pre><code>python manage.py createsuperuser</code></pre>

        <p>Make sure the mongodb deamon is running:</p>

        <pre><code>mongod &amp; </code></pre>

        <p>Also, the redis-server must be running before you can use probr-core</p>

        <pre><code>redis-server &amp;</code></pre>

        <h2><a id="user-content-start-up" class="anchor" href="#start-up" aria-hidden="true"><span class="octicon octicon-link"></span></a>Start-up</h2>

        <p>Finally, you're ready to start your probr-core server by running:</p>

        <pre><code>python manage.py runserver</code></pre>

        <p>In order for the data to be processed and entered into the database, you need to start
            the celery worker:</p>

        <pre><code>celery worker -A probr</code></pre>

        <p>And you can check it out by visiting
        <pre><code>http://localhost:8000</code></pre>
        .</p>

    </div>
</div>

<footer></footer>
